@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LabGrotesque-Thin;
  src: url(../public/static/LabGrotesque-Thin.ttf);
}

@font-face {
  font-family: LabGrotesque-Light;
  src: url(../public/static/LabGrotesque-Light.ttf);
}

@font-face {
  font-family: Fahkwang-Light;
  src: url(../public/static/Fahkwang-Light.ttf);
}

@font-face {
  font-family: Fahkwang-ExtraLight;
  src: url(../public/static/Fahkwang-ExtraLight.ttf);
}

@layer base {
  body {
    @apply bg-black;
  }
}

.m-body-text {
  @apply leading-24 font-250 font-main text-m-body;
}

.m5 {
  @apply font-400 text-m5 font-main;
}

.counterText {
  @apply text-m-body text-orange font-main leading-24 font-250;
}

.blogText {
  @apply max-w-lg mx-16 lg:mx-0 lg:col-start-3 lg:col-span-5 text-m-body font-250 leading-24 font-main text-black mb-34 lg:mb-0; /*mb-34*/
}
